@import "modules/reset";

:root {
  --interface-size: 1200px;
  --spacing-small: 5px;
  --spacing-little: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;
}

body {
  color: rgba(0, 0, 0, 0.84);
  background-color: #fff;
}

body, input {
  font-family: arial,sans-serif;
}

body, html {
  height: 100%;
}